* {
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 18px;
  }
  
  .app-section {
    display: flex;
  }
  
  .app-navigation {
    width: 20%;
  }
  
  .header {
    /* height: 50px; */
    display: flex;
  
  }
  
  .nav-bar {
    height: 100vh;
    background-color: #ADBABC;
    overflow: hidden;
    display: none;
  }
  
  .header .search-box {
    border: none;
    width: 100%;
  }
  
  .header .profile-box {
    margin-left: auto;
    white-space: nowrap;
  }
  
  .header .search-box:focus {
    border: none;
    outline: none;
    border-bottom: 1px solid #ff0000;
    margin-bottom: -1px;
  }
  
  .user-profile-grp {
    display: flex;
    vertical-align: middle;
    align-items: center;
  }
  
  
  .user-profile-grp>.profile-pic {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  
  .user-profile-grp>.user-name {
    font-weight: 800;
    color: #1B191D;
  }
  
  .py-5 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  
  .px-5 {
  
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  
  .color-primary {
    color: #1B191D;
  }
  
  .color-secondary {
    color: #ADBABC;
  }
  
  .app-container {
    flex: 1;
  }
  
  h1 {
    font-weight: 800;
    font-size: 3rem;
  }
  
  
  .my-1 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  
  }
  
  .my-2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  
  }
  
  .my-5 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  
  }
  
  .app-item {
    display: flex;
    margin-top: 60px;
    margin-right: 40px;
  
  }
  
  
  .app-item .app-img {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 25px;
    background-size: contain;
  }
  
  .app-item .app-info {
    margin-left: 20px;
    width: 200px;
  }
  
  
  
  .app-item .app-rating {
    font-size: 1.2rem;
    color: #ADBABC;
  }
  
  .app-item .app-name {
    font-size: 1.1rem;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  .app-item .app-name a {
    text-decoration: none;
    color: #1B191D;
  }
  
  .app-item .app-author {
    font-size: 0.8rem;
    color: #ADBABC;
  }
  
  .app-item .app-tag {
    font-size: 0.6rem;
    background-color: #d4d4d43b;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    color: #0085b7;
  }
  
  
  .app-list-container {
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .app-description {
    display: flex;
  }
  
  .app-description .app-img {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 25px;
    background-size: contain;
    box-shadow: 0px 0px 4px 3px #b5b5b561;
  }
  
  .app-description .app-info {
    margin-left: 50px;
  }
  
  .backdrop {
    height: 100vh;
    background-color: #f6f6f6;
  }
  
  
  .app-description .app-info .app-name {
    padding: 20px 0;
    font-size: 3rem;
    color: #ADBABC;
  }
  
  .app-description .app-info .app-download-count {
    padding: 10px 0;
    font-size: 0.8rem;
  }
  
  .app-description .app-info .app-author {
    padding: 10px 0;
    font-size: 1.5rem;
  }
  
  .btn{
    padding: 10px 62px;
    background: rgb(0, 0, 0);
    color:white;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 3px #b5b5b561;
    cursor: pointer;
  
    height: fit-content;
  }
  
  .back{
    color:#ADBABC;
  }
  
  .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .formContainer{
    width: 30%;
  }
  
  .form-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
  }
  
  .mb-5{
    margin-bottom: 2.5rem;
  }
  
  .link{
    cursor: pointer;
  }